.adminallproducts {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding-top: 50px;
  /* border: 1px solid red; */
  gap: 20px;
  /* border: 1px solid red; */
}
.aapttitle {
  max-height: 100px;

  width: 100%;
  overflow-y: scroll;
  padding-inline: 5px;
  text-align: justify;
}

.aapttitle::-webkit-scrollbar {
  width: 5px;
}

.aapttitle::-webkit-scrollbar-track-piece {
  display: none;
}
.aapttitle::-webkit-scrollbar-corner {
  display: none;
}

.aapttitle::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
  height: 20px;
}
.css-1xuwyf3-MuiTableCell-root {
  max-height: 100px !important;
}

.description {
  max-height: 100px;
  width: 100%;
  /* border: 1px solid red; */
  overflow-y: scroll;
  padding-inline: 5px;
}

.description::-webkit-scrollbar {
  width: 5px;
}

.description::-webkit-scrollbar-track-piece {
  display: none;
}
.description::-webkit-scrollbar-corner {
  display: none;
}

.description::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}

.aapactionbtns {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.aaptablecontainer {
  overflow-y: scroll;
}

.aaptablecontainer::-webkit-scrollbar {
  width: 5px;
}

.aaptablecontainer::-webkit-scrollbar-track-piece {
  display: none;
}
.aaptablecontainer::-webkit-scrollbar-corner {
  display: none;
}

.aaptablecontainer::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
  height: 20px;
}

.css-apqrd9-MuiTableBody-root {
  width: 100% !important;
  height: 100% !important;
}
