.sidebar {
  padding-top: 50px;

  width: 280px;
  /* min-height: 100vh; */
  /* min-height: 100dvh; */
  height: 100%;
  background-color: var(--theme-dark-bg-color);

  /* display: none; */
  flex-direction: column;
  gap: 10px;
  transition: 0.3s all;
}

.sidebarwrapper {
  min-height: 100vh;
  position: fixed;
  left: 0;
  /* height: 100%  ; */
  background-color: var(--theme-dark-bg-color);
}

/* .sidebar {
    background-color: var(--theme-dark-bg-color) !important;
  } */

.sidebarMenubtn {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
}
.sidebarclosebtn {
  display: none;
  color: white;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    transform: translateX(-300px);
    display: flex;
    position: fixed;
  }

  .sidebarMenubtn {
    display: block;
    font-size: 30px;
  }

  .sidebarclosebtn {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
  }

  .sidebar.active {
    transform: translateX(0px);
  }
}
